.advantages__title {
  margin: 0;
  margin-bottom: 40px;
  color: $font-color-base;
  font-family: $font-family-secondary;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 280px;
  gap: 26px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 247px 249px;
    gap: 37px 137px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
  }
}

.advantages__item {
  padding-left: 80px;
  position: relative;

  &:first-of-type::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    background-image: url("../img/icons/advantages-leaf-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:nth-of-type(2n)::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    background-image: url("../img/icons/advantages-glass-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:nth-of-type(3n)::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    background-image: url("../img/icons/advantages-fork-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:nth-of-type(4n)::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    background-image: url("../img/icons/advantages-clock-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
  }


  @media (min-width: $tablet-width) {
    padding: 151px 26px 57px 0;

    &:first-of-type::before {
      width: 80px;
      height: 80px;
      top: 40px;
      left: 0;
      background-image: url("../img/icons/advantages-leaf-tablet.svg");
    }

    &:nth-of-type(2n)::before {
      width: 80px;
      height: 80px;
      top: 40px;
      left: 0;
      background-image: url("../img/icons/advantages-glass-tablet.svg");
    }

    &:nth-of-type(3n)::before {
      width: 80px;
      height: 80px;
      top: 40px;
      left: 0;
      background-image: url("../img/icons/advantages-fork-tablet.svg");
    }

    &:nth-of-type(4n)::before {
      width: 80px;
      height: 80px;
      top: 40px;
      left: 0;
      background-image: url("../img/icons/advantages-clock-tablet.svg");
    }
  }
}

.advantages__text {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.advantages__number {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    color: $background-secondary;
    text-align: center;
    font-family: $font-family-secondary;
    font-size: 280px;
    line-height: 280px;
    z-index: -1;
  }
}
