.body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: $background-base;
  color: $font-color-secondary;
}

.body__header {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-top: 55px;
  }
}
