.body {
  width: 320px; // Не уверена, что данная настройка корректная, хочется прописать этот параметр временно, пока задается базовая стилистика
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #ffffff;
  color: #444444;
}

.body__header {
  margin: 0 auto;
  margin-top: 13px;
}
