.contacts {
  width: 100%;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts__wrapper {
  background: $background-base;

  &--inner {
    background-color: $background-secondary;

    @media (min-width: $desktop-width) {
      background-color: $background-base;
    }
  }
}

.contacts__text-container {
  width: 280px;
  margin: 0 auto;
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
  z-index: 10;

  @media (min-width: $tablet-width) {
    width: 628px;
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    width: 565px;
    margin: 0;
    position: absolute;
    padding: 60px 79px;
    top: 95px;
    left: 110px;
    background-color: $background-base;
  }

  &--inner {
    background-color: $background-secondary;

    @media (min-width: $desktop-width) {
      background-color: $background-base;
    }
  }
}


.contacts__title {
  width: 140px;
  margin: 0;
  color: $font-color-detailed;
  font-family: $font-family-secondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 163px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__description {
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 157px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
  }
}

.contacts__text {
  margin: 0;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.contacts__map {
  position: relative;
  width: 100%;
  height: 362px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.contacts__picture {
  display: block;
  margin: 0 auto;
  padding: 0;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: calc(50% - 160px);
  z-index: -1;
  max-width: 100%;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;
    left: calc(50% - 384px);
  }

  @media (min-width: $desktop-width) {
    width: 1300px;
    left: calc(50% - 720px);
  }
}

.contacts__iframe {
  display: block;
  width: 100%;
  border: none;
  margin: 0 auto;
  padding: 0;
  z-index: 0;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
