.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__logo + .copyright__logo {
  @media (min-width: $tablet-width) {
    margin-left: 23px;
  }
}

.copyright__logo {
  display: block;
  object-fit: contain;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-top: 2px;
  }
}
