.example {
  align-content: center;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 55%, rgba(234, 234, 234, 1) 55%, rgba(234, 234, 234, 1) 100%);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(242, 242, 242, 1) 25%, rgba(242, 242, 242, 1) 100%);
  }
}

.example__wrapper {
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
    max-width: none;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    display: flex;
    justify-content: space-between;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  color: $font-color-base;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 146px;
  }
}

.example__about {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.example__results {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.example__list {
  margin: 0;
  width: 280px;
  display: flex;
  gap: 32px;

  @media (min-width: $tablet-width) {
    width: 367px;
    gap: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.example__item {
  width: 124px;
  position: relative;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    z-index: 0;
    width: 124px;
    height: 56px;
    outline: 1px solid #cdcdcd;
    border-radius: 3px;
  }

  @media (min-width: $tablet-width) {
    width: 162px;
    background-color: $background-base;

    &::before {
      width: 162px;
      height: 72px;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: $background-secondary;
  }
}

.example__number {
  color: #000000;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 8px;
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 11px;
  }
}

.example__description {
  margin: 0;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  width: 77px;
  padding: 0 3px 0 3px;
  z-index: 10;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: $background-base;
    width: auto;
    padding: 0 8px 0 8px;
  }

  @media (min-width: $desktop-width) {
    background-color: $background-secondary;
  }
}

.example__text {
  display: flex;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  color: $font-color-base;
  font-family: $font-family-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 174px;
    font-size: 20px;
    text-align: right;
    flex-direction: column;
    margin-top: 11px;
    margin-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    width: 327px;
    margin-top: 0;
    margin-bottom: 75px;
    text-align: left;
  }
}

.example__expenses {
  display: block;

  @media (min-width: $tablet-width) {
    margin-top: 9px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-top: 0;
    margin-left: 61px;
  }
}

.example__slider {
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 99px;
  }
}
