.form__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    width: 1220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 32px;
    padding-left: 40px;
  }
}

.form__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: unset;
    padding-left: 35px;
  }

  @media (min-width: $desktop-width) {
    width: 824px;
    padding-left: 40px;
    justify-content: space-between;
  }
}

.form__about {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  display: grid;
  grid-template-columns: auto;
  gap: 14px;
  margin-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 35px;
    padding-right: 35px;
    gap: 20px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin: 0;
    padding: 0;
  }

  &::after {
    @media (max-width: $mobile-width-only) {
      position: absolute;
      content: "";
      width: 100vw;
      height: 1px;
      bottom: -24px;
      right: 0;
      background-color: #d9d9d9;
      box-shadow: 100vw 0 #d9d9d9;
    }
  }
}

.form__about-group {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  align-items: center;
}

.form__about-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.form__about-input {
  flex: 1;
}

.form__goal {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  margin-top: 22px;
  margin-bottom: 19px;
  padding-left: 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 628px;
    margin-top: 0;
    margin-left: 35px;
    margin-bottom: 20px;
    padding: 23px 0 27px 27px;
    border: 1px solid #e7e7e7;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin: 0;
  }

  &::after {
    @media (max-width: $mobile-width-only) {
      position: absolute;
      content: "";
      width: 100vw;
      height: 1px;
      bottom: -19px;
      right: 0;
      background-color: #d9d9d9;
      box-shadow: 100vw 0 #d9d9d9;
    }
  }
}

.form__goal-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 13px;
}

.form__goal-item {
  margin: 0;
  padding: 6px 0 5px 45px;

  @media (min-width: $tablet-width) {
    padding: 5px 0 5px 60px;
  }

  &--disabled {
    opacity: 0.3;
  }
}

.form__contacts {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  border: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }
}

.form__contacts-wrapper {
  @media (min-width: $tablet-width) {
    width: 628px;
    margin-top: 11px;
    padding-left: 35px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1220px;
    margin-top: 36px;
    margin-bottom: 25px;
    padding-left: 40px;
  }
}

.form__contacts-title {
  position: relative;
  color: $font-color-base;
  background-color: $background-base;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  padding: 26px 20px 30px 20px;
  width: 187px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    font-style: normal;
    padding: 48px 40px 70px 35px;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    padding: 40px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 42px;
    right: 0;
    z-index: -1;
    height: 2px;
    width: 100vw;
    background: $background-branded;
    box-shadow: 100vw 0 $background-branded;

    @media (min-width: $tablet-width) {
      top: 65px;
    }

    @media (min-width: $desktop-width) {
      top: 58px;
    }
  }
}

.form__contacts-group {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 13px;

  &--email {
    position: relative;
    padding-top: 5px;

    &::after {
      position: absolute;
      content: "";
      display: block;
      right: 32px;
      width: 20px;
      height: 20px;
      mask-image: url("../img/email.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: #222222;

      @media (min-width: $tablet-width) {
        right: 14px;
      }

      @media (min-width: $desktop-width) {
        right: 17px;
      }
    }

    @media (min-width: $desktop-width) {
      width: 570px;
    }
  }

  &--phone {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      display: block;
      right: 32px;
      width: 20px;
      height: 20px;
      mask-image: url("../img/phone.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: #222222;

      @media (min-width: $tablet-width) {
        right: 14px;
      }

      @media (min-width: $desktop-width) {
        right: 17px;
      }
    }

    @media (min-width: $desktop-width) {
      width: 570px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    &--email {
      margin-bottom: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    padding-top: 5px;
    width: 570px;

    &--email {
      margin-bottom: 5px;
    }
  }
}

.form__contacts-group--email:focus-within::after,
.form__contacts-group--phone:focus-within::after {
  background-color: #68b738;
}

.form__contacts-group:last-of-type {
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    margin: 0 0 5px;
  }
}

.form__contacts-group--error::after {
  background-color: #ff8282;
}

.form__contacts-group--error .form__contacts-input {
  border: 2px solid #ff8282;
}

.form__contacts-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.form__contacts-input {
  flex: 1;
}

.form__comment {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.form__comment-title {
  position: relative;
  color: $font-color-base;
  background-color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  padding: 20px 20px 30px 20px;

  &::after {
    position: absolute;
    content: "";
    top: 35px;
    right: 0;
    z-index: -1;
    height: 2px;
    width: 100vw;
    background: $background-branded;
    box-shadow: 100vw 0 $background-branded;

    @media (min-width: $tablet-width) {
      top: 83px;
    }

    @media (min-width: $desktop-width) {
      top: 62px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 61px 40px 79px 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px;
  }
}

.form__comment-input {
  width: 280px;
  margin-top: 8px;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    width: 628px;
    margin-left: 35px;
    height: 175px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-top: 38px;
    margin-left: 40px;
    padding-top: 9px;
  }
}

.form__extra {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 59px;
  }
}

.form__extra-title {
  color: $font-color-base;
  position: relative;
  background-color: $background-base;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  padding: 20px;
  padding-top: 15px;

  &::after {
    position: absolute;
    content: "";
    top: 29px;
    right: 0;
    z-index: -1;
    height: 2px;
    width: 100vw;
    background: $background-branded;
    box-shadow: 100vw 0 $background-branded;

    @media (min-width: $tablet-width) {
      top: 59px;
    }

    @media (min-width: $desktop-width) {
      top: 60px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 36px 41px 40px 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px;
  }
}

.form__extra-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  margin-top: 14px;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 25px;
    margin-top: 17px;
    margin-bottom: 18px;
    padding-left: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 16px;
    width: 1220px;
    grid-template-columns: repeat(4, 305px);
    gap: 20px;
    padding-left: 0;
    margin-bottom: 0;
  }
}

.form__extra-item {
  display: block;
  margin: 0;
  padding: 6px 0 6px 45px;

  @media (min-width: $tablet-width) {
    padding: 5px 0 5px 60px;
  }

  &--disabled {
    opacity: 0.3;
  }
}

.form__extra-control {
  position: relative;
}

.form__extra-control-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.form__extra-control-mark {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -5px;
  left: -45px;
  width: 30px;
  height: 30px;

  @media (min-width: $tablet-width) {
    top: -12px;
    left: -60px;
    width: 40px;
    height: 40px;
  }
}

.form__extra-control-input + .form__extra-control-mark {
  outline: 1px solid #cdcdcd;
}


.form__extra-control-input + .form__extra-control-mark:hover,
.form__extra-control-input + .form__extra-control-mark:active {
  outline: 1px solid #bababa;
}

.form__extra-control-input:focus-visible + .form__extra-control-mark {
  outline: 1px solid $font-color-base;
}

.form__extra-control-input:checked + .form__extra-control-mark {
  background-image: url("../img/checkbox-true.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 26px;
}

.form__goal-control {
  position: relative;
}

.form__goal-control-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.form__goal-control-mark {
  position: absolute;
  top: -4px;
  left: -45px;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    top: -13px;
    left: -60px;
    width: 40px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    top: -11px;
  }
}

.form__goal-control-input + .form__goal-control-mark {
  outline: 1px solid #cdcdcd;
  border-radius: 50%;
}


.form__goal-control-input + .form__goal-control-mark:hover,
.form__goal-control-input + .form__goal-control-mark:active {
  outline: 1px solid #bababa;
}

.form__goal-control-input:focus-visible + .form__goal-control-mark {
  outline: 1px solid $font-color-base;
}

.form__goal-control-input:checked + .form__goal-control-mark {
  background-image: url("../img/radio-true.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;

  @media (min-width: $tablet-width) {
    background-size: 18px 18px;
  }
}
