.goals {
  background-color: $background-base;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.goals__list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 280px;
  gap: 20px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 708px;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 570px);
    gap: 80px;
  }
}

.goals__item {
  padding: 24px 33px 18px 20px;
  box-sizing: border-box;
  background-color: $background-secondary;
  color: $font-color-secondary;

  @media (min-width: $tablet-width) {
    padding: 81px 63px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 41px 61px 59px 52px;
  }
}

.goals__title {
  margin: 0;
  padding-left: 91px;
  font-family: $font-family-secondary;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  color: $font-color-base;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 214px;
  }
}

.goals__text {
  margin: 0;
  margin-top: 29px;
  color: $font-color-secondary;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
    width: 340px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 73px;
  }
}

.goals__to-catalog {
  margin: 0;
  margin-top: 38px;
  color: $font-color-base;
  text-align: center;
  font-family: $font-family-secondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 48px;
    font-size: 20px;
    line-height: normal;
  }

  @media (min-width: $desktop-width) {
    margin-top: 23px;
  }
}
