.goals__list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 280px;
  gap: 20px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 708px;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 570px);
    gap: 80px;
  }
}

.goals__item {
  position: relative;
  padding: 30px 33px 18px 20px;
  box-sizing: border-box;
  background-color: $background-secondary;
  color: $font-color-secondary;
  display: flex;
  flex-direction: column;

  &::before {
    position: absolute;
    content: "";
    top: 24px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--slim::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 53px;
    top: 21px;
    left: 20px;
    background-image: url("../img/goals-slim.svg");
    background-size: 50px 53px;
  }

  &--mass::before {
    width: 67px;
    height: 50px;
    left: 13px;
    background-image: url("../img/goals-mass.svg");
    background-size: 67px 50px;
  }

  @media (min-width: $tablet-width) {
    padding: 77px 316px 53px 52px;

    &--slim::before {
      width: 200px;
      height: 211px;
      top: 81px;
      left: 445px;
      background-size: 200px 211px;
    }

    &--mass::before {
      width: 268px;
      height: 200px;
      top: 91px;
      left: 411px;
      background-size: 268px 200px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 77px 61px 55px 52px;

    &--slim::before {
      width: 100px;
      height: 106px;
      top: 41px;
      left: 52px;
      background-size: 100px 106px;
    }

    &--mass::before {
      width: 134px;
      height: 100px;
      top: 47px;
      left: 33px;
      background-size: 134px 100px;
    }
  }
}

.goals__title {
  margin: 0;
  padding-left: 70px;
  font-family: $font-family-secondary;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  color: $font-color-base;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
  }
}

.goals__text {
  position: relative;
  margin: 0;
  margin-top: 29px;
  margin-bottom: 23px;
  color: $font-color-secondary;

  @media (max-width: $mobile-width-only) {
    &::after {
      position: absolute;
      content: "";
      width: 240px;
      height: 1px;
      top: 113px;
      left: 0;
      background-color: #d9d9d9;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 0;
    width: 340px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 73px;
    width: 457px;
  }
}

.goals__to-catalog {
  display: block;
  position: relative;
  margin: 0;
  margin-top: 15px;
  padding: 4px 47px 4px 0;
  color: $font-color-base;
  font-family: $font-family-secondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: 102px center;
  background-size: 32px 10px;
  transition: all 0.1s linear;
  text-align: start;
  max-width: 180px;

  @media (min-width: $tablet-width) {
    margin-top: 48px;
    font-size: 20px;
    line-height: normal;
    background-position: 133px center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 23px;
  }

  &:hover,
  &:active,
  &:focus {
    background-image: url("../img/arrow-hover.svg");
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

.goals__item--mass .goals__to-catalog {
  background-position: 98px center;

  @media (min-width: $tablet-width) {
    background-position: 129px center;
  }
}
