.goals {
  background-color: #ffffff;
}

.goals__list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 280px;
  gap: 20px;
  justify-content: center;
}

.goals__item {
  padding: 24px 33px 18px 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  color: #444444;
}

.goals__title {
  margin: 0;
  padding-left: 91px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}

.goals__text {
  margin: 0;
  margin-top: 29px;
}

.goals__to-catalog {
  margin: 0;
  margin-top: 38px;
  color: #000000;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}
