.main-header {
  @media (min-width: $desktop-width) {
    background-image: url("../img/features-desktop.jpg"),
      linear-gradient(90deg, #ffffff 50%, #64a83b 50%);
    background-position: calc(50% + 360px) center, center;
    background-repeat: no-repeat;
  }

  &--inner {
    background-image: none;
  }
}

.main-header__wrapper {
  @media (min-width: $tablet-width) {
    width: 704px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 34px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }
}


.main-header__logo {
  width: 280px;
  display: flex;
  margin: 0 auto;
  padding: 13px 20px 15px;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 174px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.4;
  }
}

.main-header__logo-image {
  margin-right: 56px;
  height: 38px;

  @media (min-width: $tablet-width) {
    height: 50px;
    margin-right: 13px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
    margin-right: 14px;
  }
}

.main-header__logo-text {
  height: 18px;

  @media (min-width: $desktop-width) {
    height: 21px;
  }
}

.main-header__features {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 29px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
  }
}
