.main-container {
  flex-grow: 1;
}

.main-container__features {
  margin: 0 auto;
}

.main-container__goals {
  margin-top: 20px;
}

.main-container__advantages {
  margin: 0 auto;
  margin-top: 20px;
}

.main-container__example {
  margin: 0 auto;
  margin-top: 49px;
}

.main-container__products {
  margin: 0 auto;
  margin-top: 27px;
}

.main-container__promo {
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
}
