.main-footer {
  background: $background-secondary;
}

.main-footer__wrapper {
  width: 280px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding-top: 58px;
    padding-bottom: 55px;
    flex-direction: row;
    align-items: center;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.main-footer__logo {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-right: 160px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 416px;
  }
}

.main-footer__social {
  align-self: stretch;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-right: 127px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 376px;
  }

  &::before {
    @media (max-width: $mobile-width-only) {
      position: absolute;
      content: "";
      width: 280px;
      height: 1px;
      top: 0;
      right: 0;
      background-color: #d9d9d9;
    }
  }
}

.main-footer__copyright {
  align-self: stretch;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  &::before {
    @media (max-width: $mobile-width-only) {
      position: absolute;
      content: "";
      width: 280px;
      height: 1px;
      top: 0;
      left: 0;
      background-color: #d9d9d9;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 6px;
  }
}

.main-footer__logo-text {
  display: block;
  margin: 0;
  padding: 0;
  width: 128px;
  height: 24px;
  fill: #111111;
}

.main-footer__logo:hover .main-footer__logo-text,
.main-footer__logo:focus .main-footer__logo-text {
  fill: #3e3e3e;
}

.main-footer__logo:active .main-footer__logo-text {
  fill: #6b6b6b;
}
