.main-footer {
  background: $background-secondary;
}

.main-footer__wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 280px;
  gap: 40px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 55px;
    display: flex;
    align-items: center;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.main-footer__logo {
  justify-self: center;

  @media (min-width: $tablet-width) {
    margin-right: 160px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 416px;
  }
}

.main-footer__social {
  position: relative;

  @media (min-width: $tablet-width) {
    margin-right: 120px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 376px;
  }

  &::before {
    @media (max-width: $mobile-width-only) {
      position: absolute;
      content: "";
      width: 280px;
      height: 1px;
      top: -20px;
      left: 0;
      background-color: #d9d9d9;
    }
  }
}

.main-footer__copyright {
  position: relative;

  &::before {
    @media (max-width: $mobile-width-only) {
      position: absolute;
      content: "";
      width: 280px;
      height: 1px;
      top: -20px;
      left: 0;
      background-color: #d9d9d9;
    }
  }
}
