.main-container {
  flex-grow: 1;
  position: relative;
}

.main-container__goals {
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 82px auto 0;
  }
}

.main-container__advantages {
  position: relative;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin: 45px auto 47px;
  }

  @media (min-width: $desktop-width) {
    margin: 71px auto 0;
  }
}

.main-container__example {
  margin: 0 auto;
  margin-top: 53px;
  padding: 25px 20px 40px 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
    padding: 0;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #e6e6e6;
    }
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 23%, rgba(242, 242, 242, 1) 23%, rgba(242, 242, 242, 1) 100%);
    margin: 69px 0 auto;
  }
}

.main-container__contacts {
  margin: 0 auto;
}

.main-container__products {
  margin: 0 auto;
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 74px;
  }

  &::before {
    @media (max-width: $mobile-width-only) {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      top: -27px;
      left: 0;
      background-color: #d9d9d9;
    }
  }
}

.main-container__supplements {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    margin-bottom: 87px;
  }
}

.main-container__selection {
  margin: 0 auto;

  &::before {
    @media (max-width: $mobile-width-only) {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      top: 0;
      left: 0;
      background-color: #d9d9d9;
    }
  }
}

.main-container__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
