.main-navigation {
  display: flex;
}

.main-navigation__toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 23px;
  right: 20px;


  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation__list {
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-top: 14px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}
