.products {
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.products__list {
  width: 100%;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 324px);
    gap: 60px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 245px);
    gap: 63px 80px;
  }

  &::before {
    @media (max-width: $mobile-width-only) {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      top: 77px;
      left: 0;
      background-color: #ebebeb;
    }
  }
}

.products__title {
  position: relative;
  margin: 0;
  margin-bottom: 43px;
  padding-left: 20px;
  color: $font-color-base;
  font-family: $font-family-secondary;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
  }
}

.products__item {
  width: 280px;
  position: relative;
  padding: 20px 20px 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 17px;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    display: grid;
    padding: 10px 37px 40px 37px;
    grid-template-columns: 250px;
    grid-template-rows: 389px 40px;
    width: 324px;
    gap: 32px;
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 16%, #f2f2f2 16%, #f2f2f2 100%);
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    grid-template-columns: 169px;
    padding: 10px 38px 40px 38px;
  }

  &::after {
    @media (max-width: $mobile-width-only) {
      position: absolute;
      content: "";
      width: 100vw;
      box-shadow: 100vw 0 #ebebeb;
      height: 1px;
      right: 0;
      bottom: 0;
      background-color: #ebebeb;
    }
  }

  &--more {
    position: relative;
    box-sizing: border-box;
    width: 280px;
    margin: 0 auto;
    padding: 22px 0 26px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    @media (min-width: $tablet-width) {
      display: block;
      width: 324px;
      padding: 0;
      padding-top: 82px;
      background: $background-base;
      box-sizing: border-box;
    }

    @media (min-width: $desktop-width) {
      width: 245px;
    }

    &::after {
      @media (max-width: $mobile-width-only) {
        position: absolute;
        content: "";
        width: 100vw;
        box-shadow: 100vw 0 #ebebeb;
        height: 1px;
        right: 0;
        bottom: 0;
        background-color: #ebebeb;
      }
    }
  }
}

.products__item-wrapper {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    padding: 50px 20px 40px;
    outline: 2px solid $background-secondary;
  }
}

.products__content-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 107px;

  @media (min-width: $tablet-width) {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    grid-template-columns: none;
    grid-template-rows: 210px 157px;
    row-gap: 22px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 12px;
  }
}

.products__image {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.products__link {
  margin: 0;
  display: block;
  color: #222222;
  text-decoration: none;
  align-self: center;

  &--picture {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    justify-self: center;

    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }
  }

  &--heading {
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 23px;
    }
  }
}

.products__text-wrapper {
  grid-column: 2 / 3;
  grid-row: 1 / -1;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }
}

.products__heading {
  font-family: $font-family-secondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  width: 76px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 135px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 140px;
  }
}

.products__item--more .products__heading {
  width: 204px;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    width: 134px;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.products__description {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin-bottom: 82px;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
  }
}


.products__ingridients-list {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  grid-area: list;

  @media (min-width: $tablet-width) {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.products__order {
  grid-area: button;
  align-self: stretch;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    align-self: auto;
  }
}

.products__ingridients-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  &::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      bottom: -5px;
      left: 0;
      background-color: #cdcdcd;
    }
  }
}

.products__ingridients-definition {
  margin: 0;
}

.products__more {
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.products__more-items {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  border: none;
  background-color: $background-base;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 37px;
  }
}

.products__plus-icon {
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 60px;
    height: 60px;
  }
}

.products__more-heading {
  font-family: $font-family-secondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 8px;
  color: $font-color-detailed;
}
