.products {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.products__list {
  width: 100%;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: 324px 324px;
    gap: 120px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 245px);
    gap: 120px 80px;
  }
}

.products__title {
  margin: 0;
  margin-bottom: 41px;
  color: $font-color-base;
  font-family: $font-family-secondary;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 153px;
    font-size: 60px;
    line-height: 60px;
  }
}

.products__item {
  padding-top: 20px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 55px 69px 40px;
  grid-template-areas:
    "image heading"
    "image list"
    "button button";

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0 37px 40px;
    align-items: center;
    background-color: #f2f2f2;
  }

  &--more {
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $tablet-width) {
      width: 324px;
      padding: 50px 20px 40px;
      box-sizing: border-box;
    }

    @media (min-width: $desktop-width) {
      width: 245px;
    }
  }
}

.products__image {
  grid-area: image;

  @media (min-width: $tablet-width) {
    width: 161px;
    height: 172px;
    margin-top: -60px;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 31px;
  }
}

.products__link {
  color: #222222;
  text-decoration: none;
}

.products__heading {
  font-family: $font-family-secondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  width: 76px;
  grid-area: heading;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 135px;
    margin-bottom: 20px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 140px;
    margin-bottom: 23px;
  }
}

.products__item--more .products__heading {
  width: 204px;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    width: 134px;
    margin-bottom: 23px;
  }
}

.products__description {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin-bottom: 82px;
    text-align: center;
  }
}


.products__ingridients-list {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  grid-area: list;

  @media (min-width: $tablet-width) {
    width: 250px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.products__order {
  padding: 10px 44px;
  font-family: $font-family-secondary;
  color: $font-color-contrast;
  background-color: $background-branded;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  grid-area: button;
  align-self: stretch;

  &--secondary {
    background-color: $background-secondary;
    color: $font-color-secondary;
  }
}

.products__ingridients-item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.products__ingridients-definition {
  margin: 0;
}

.products__more {
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__more-items {
  margin: 0;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.products__more-heading {
  font-family: $font-family-secondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 8px;
  color: $font-color-detailed;
}
