.selection {
  width: 320px;
  padding: 27px 0 32px;
  font-family: $font-family-secondary;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 698px;
    padding: 65px 0 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 74px 0 79px;
  }
}

.selection__wrapper {
  width: 100%;
}

.selection__title {
  margin: 0;
  margin-bottom: 37px;
  padding-left: 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $font-color-base;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
    padding-left: 0;
  }
}

.selection__subtitle {
  margin: 0;
  margin-bottom: 39px;
  padding-left: 20px;
  color: $font-color-base;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
    width: 323px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.selection__send {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 14px 45px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 188px;
  }
}

.selection__warning {
  font-family: "Lato", "Arial", sans-serif;
  color: $font-color-base;
  line-height: 16px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin: 0;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}
