.slider {
  position: relative;
  width: 280px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 560px;
    padding: 0 104px;
  }
}


.slider__wrapper {
  &--before {
    position: absolute;
    left: 18px;
    top: 0;
    overflow: hidden;
    z-index: 2;
    width: 45%;
    height: 100%;

    @media (min-width: $tablet-width) {
      width: 37%;
      left: 100px;
    }
  }

  &--after {
    overflow: hidden;
  }
}

.slider__picture {
  display: block;
  object-fit: cover;
  background: #eaeaea;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: auto;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 24.9%, rgba(234, 234, 234, 1) 24.9%, rgba(234, 234, 234, 1) 100%);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 15.5%, rgba(242, 242, 242, 1) 15.5%, rgba(242, 242, 242, 1) 100%);
  }
}

.slider__toggle {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 5;
  width: 4px;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #666666;
  touch-action: pan-y;

  &::after {
    content: "";
    position: absolute;
    left: -18px;
    top: 108px;
    width: 40px;
    height: 40px;
    background: url("../img/icons/slider-thumb.svg");
    z-index: 10;

    @media (min-width: $tablet-width) {
      top: 236px;
    }
  }
}
