.social {
  display: flex;
  flex-wrap: wrap;
}

.social__list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 132px;
  gap: 24px;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__item {
  margin: 0;
  padding: 0;
}

.social__link {
  display: block;
}

.social__icon {
  display: block;
  margin: 0;
  padding: 0;
  fill: #666666;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: $background-branded;
}

.social__link:active .social__icon {
  fill: $background-branded;
  opacity: 0.3;
}
