.supplements {
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1300px;
  }
}

.supplements__promo-container {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    width: 1221px;
    padding-left: 40px;
  }
}

.supplements__list {
  width: 280px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    padding: 0;
  }
}

.supplements__item {
  position: relative;
  padding-top: 13px;
  padding-bottom: 19px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0 17px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
    border: none;
  }

  &::before {
    @media (max-width: $mobile-width-only) {
      position: absolute;
      content: "";
      width: 280px;
      height: 1px;
      top: 0;
      right: 0;
      background-color: #cdcdcd;
    }

    @media (min-width: $desktop-width) {
      position: absolute;
      content: "";
      width: 895px;
      height: 1px;
      top: 0;
      right: 0;
      background-color: #cdcdcd;
    }
  }

  &:not(:last-child) {
    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  &:last-child::after {
    @media (max-width: $mobile-width-only) {
      position: absolute;
      content: "";
      width: 280px;
      height: 1px;
      bottom: 0;
      right: 0;
      background-color: #cdcdcd;
    }

    @media (min-width: $desktop-width) {
      position: absolute;
      content: "";
      width: 895px;
      height: 1px;
      bottom: 0;
      right: 0;
      background-color: #cdcdcd;
    }
  }
}

.supplements__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 295px 285px;
    gap: 30px;
    align-items: center;
    margin: 0;
  }
}

.supplements__title {
  position: relative;
  color: $font-color-base;
  background-color: $background-base;
  font-family: $font-family-secondary;
  font-weight: 400;
  margin: 0;
  padding: 23px 20px 36px 20px;
  font-size: 24px;
  line-height: 24px;
  max-width: fit-content;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 40px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 38px;
    right: 0;
    z-index: -1;
    height: 2px;
    width: 100vw;
    background: $background-branded;
    box-shadow: 100vw 0 $background-branded;

    @media (min-width: $tablet-width) {
      top: 62px;
    }
  }
}

.supplements__wrapper {
  @media (min-width: $tablet-width) {
    margin-top: 40px;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    margin: 0;
  }
}

.supplements__promo {
  margin: 35px auto 35px;

  @media (min-width: $tablet-width) {
    margin: 70px auto 75px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.supplements__heading {
  color: $font-color-base;
  font-family: $font-family-secondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }
}

.supplements__option-list {
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding-top: 2px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.supplements__option-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    align-items: start;
  }
}

.supplements__option-type {
  @media (min-width: $tablet-width) {
    margin-right: 49px;
  }
}

.supplements__option-price {
  margin: 0;
}

.supplements__order {
  align-self: stretch;

  @media (min-width: $desktop-width) {
    flex: 1;
  }
}
