$font-family-secondary: "Oswald", "Arial", sans-serif;
$background-base: #ffffff;
$background-secondary: #f2f2f2;
$background-branded: #68b738;
$font-color-base: #000000;
$font-color-secondary: #444444;
$font-color-detailed: #111111;
$font-color-contrast: #ffffff;
